#Class 04 Listing

# List in Python
* Dynamic Lists
* hetrogenios data (Mix Data type values)
* indexing
    * Positive 1 to n-1
    * Negative -1 to -length
* Slicing
    * start: int = include
    * end : int = n-1
    * step : int = sequence

In [11]:
## Old Method of Lists in Python
names = ["Safdar","Ali","Shah","Bukhari","Syed"]
print(names[2]==names[-3])
print(names[-1])

True
Syed

In [73]:
from typing import Any
names : list[Any] = ["Safdar","Ali","Shah",345]
print(f'President of Austria is Not {names[0]} {names[3]}')

President of Austria is Not Safdar 345

In [13]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [14]:
characters:list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
characters

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [15]:
print(characters[0:10])
print("***********")
print(characters[:10])
print("***********")
characters[-26:-16]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
***********
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
***********

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [16]:
characters[0:20:2]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S']

In [17]:
characters[2:25:]

['C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [18]:
characters[4:20:]

['E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T']

In [19]:
characters[-1:-10:-2]

['Z', 'X', 'V', 'T', 'R']

In [20]:
characters[::-1]

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [21]:
characters[1:-3]

['B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W']

In [22]:
characters[-1:-10]

[]

In [23]:
characters[-1:-10:-3]

['Z', 'W', 'T']

# List Methods

In [24]:
names : list[Any] = ["Safdar","Ali","Shah",345]
print(names)
names[0]="Azhar ALi Shah"
print(names) ## it mean list are mutables editable

['Safdar', 'Ali', 'Shah', 345]
['Azhar ALi Shah', 'Ali', 'Shah', 345]

In [25]:
del names[2]

In [26]:
names

['Azhar ALi Shah', 'Ali', 345]

In [27]:
a : str = print("Pakistan")
print(a)

Pakistan
None

In [28]:
display(a)

None

In [29]:
id(a)

9723072

In [30]:
[i for i in dir(list) if '__' not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Help in Python
* help(obj)
* object?
* object??
* ?Object
* ??Object

# help(list)
* list?
* list??
* ?list
* ??list

# POP Method in List Python
* pop is return function which delete a value and return it
* delete value with help of index

In [33]:
a : str = characters.pop(10)
print(a)

K

# Insert in LIst

In [35]:
l : list[str] = []
print(l)

[]

In [36]:
l.append('value1')

In [39]:
l.append('value2')
l.append('value3')
l.append('value4')
l.append('value6')

In [40]:
print(l)

['value1', 'value2', 'value2', 'value3', 'value4', 'value6']

In [41]:
l.insert(0,"value0")

In [42]:
print(l)

['value0', 'value1', 'value2', 'value2', 'value3', 'value4', 'value6']

In [46]:
l.clear()
print(l)

[]

In [48]:
l = ['value1','value2','value3']
print(l)
l[0] = 'value0'

['value1', 'value2', 'value3']

In [49]:
print(l)

['value0', 'value2', 'value3']

In [50]:
m = l
print(m)

['value0', 'value2', 'value3']

In [51]:
m[0] = 'Pakistan'
print(m)
print(l)

['Pakistan', 'value2', 'value3']
['Pakistan', 'value2', 'value3']

In [52]:
m = l.copy()

In [53]:
print(m)

['Pakistan', 'value2', 'value3']

In [57]:
a : list[str] = ['a','b','c','a','b','c','a','b','c','a','b','c','a','b','c','a','b','c','a','b','c']
print(a.count('b'))

7

In [58]:
a.append(m)
a.append(l)

In [59]:
print(a)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', ['Pakistan', 'value2', 'value3'], ['Pakistan', 'value2', 'value3']]

In [60]:
l.extend(m)

In [61]:
print(l)

['Pakistan', 'value2', 'value3', 'Pakistan', 'value2', 'value3']

In [64]:
print(names)
names.remove('Ali')

['Azhar ALi Shah', 'Ali', 345]

In [65]:
print(names)

['Azhar ALi Shah', 345]

In [74]:
#index return the first accurence 
names.index(345)

3

In [69]:
names.remove(345)

In [70]:
print(names)

['Azhar ALi Shah']

In [75]:
names.append("Safdar ALi Shah")
names.append("Afsar ALi Shah")
names.append("Ather ALi Shah")
names.append("Asghar ALi Shah")

In [76]:
print(names)

['Safdar', 'Ali', 'Shah', 345, 'Safdar ALi Shah', 'Afsar ALi Shah', 'Ather ALi Shah', 'Asghar ALi Shah']

In [77]:
names.reverse()

In [78]:
print(names)

['Asghar ALi Shah', 'Ather ALi Shah', 'Afsar ALi Shah', 'Safdar ALi Shah', 345, 'Shah', 'Ali', 'Safdar']

In [83]:
names.pop(4)
names.sort(reverse=True)

In [84]:
print(names)

['Shah', 'Safdar ALi Shah', 'Safdar', 'Ather ALi Shah', 'Asghar ALi Shah', 'Ali', 'Afsar ALi Shah']