In [11]:
from typing import Dict, Union, Optional
key = Union[int,str]
value = Union[int,str,list,dict,tuple,set]
# list
data : Dict[key,value] = {'name':'SafdarAliShah',
    'fname':'GhafoorShah',
    'education':'BCCS',}

display(data)
methods : list[str] = [m for m in dir(Dict) if("__" and "_") not in m]
print(methods)

{'name': 'SafdarAliShah', 'fname': 'GhafoorShah', 'education': 'BCCS'}

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# clear Method

In [3]:
data.clear()
display(data)
data : Dict[key,value] = {'name':'SafdarAliShah',
    'fname':'GhafoorShah',
    'education':'BCCS',}

{}

# copy Method

In [4]:
data2 = data
data2

{'name': 'SafdarAliShah', 'fname': 'GhafoorShah', 'education': 'BCCS'}

# fromkeys Method

# get Method

In [15]:
print(data.get('Pakistan','NA'))

NA

# items Method

# keys Method

# pop Method

In [10]:
# s = data.pop('fname')
display(data)

{'name': 'SafdarAliShah', 'education': 'BCCS'}

# popitem Method

In [14]:
s = data.popitem()
display(data)

{'name': 'SafdarAliShah', 'fname': 'GhafoorShah'}

# setdefault Method

In [16]:
s = data.setdefault('Country','Pakistan')
display(data)

{'name': 'SafdarAliShah', 'fname': 'GhafoorShah', 'Country': 'Pakistan'}

# update Method

In [19]:
data : Dict[key,value] = {'name':'SafdarAliShah',
    'fname':'GhafoorShah',
    'education':'BCCS',}

data2 : Dict[key,value] = {
        'name': 'Syed Safdar Ali Shah Bukhari',
        'height':'5.4',
        'weight':'76KG'
}

data.update(data2)
display(data)

{'name': 'Syed Safdar Ali Shah Bukhari',
 'fname': 'GhafoorShah',
 'education': 'BCCS',
 'height': '5.4',
 'weight': '76KG'}

# ValuesMethod

# Pandas

In [26]:
import pandas as pd
from typing import Any
student_data : Dict[str,list[Any]] = {
    'RollNumbers':[1,2,3,4],
    'Names':["Safdar","Ali","Shah","Peer Syed"],
    'Education':["Master","CyberSec","MA","BA"]
}
df : pd.DataFrame = pd.DataFrame(student_data)
df

   RollNumbers      Names Education
0            1     Safdar    Master
1            2        Ali  CyberSec
2            3       Shah        MA
3            4  Peer Syed        BA