# Class Five Python - list tuple and list comprehensive

In [2]:
names : str = ['safdar','Ali','shah','bukhari','syed']
for name in names:
    if (name == "syed"):
        print(name*10)

syedsyedsyedsyedsyedsyedsyedsyedsyedsyed

# Old way to loop

In [3]:
i = 0
while (i<len(names)):
    print(names[i])
    i += 1

safdar
Ali
shah
bukhari
syed

# Old way to loop for
for (i=o; i<length(names);i++)
{
    print('Message')
}

for name in names:
    print(name(

In [4]:
for name in names[::-1]:
    print(name)
    print(f'Welcome to Our Gen Ai Team {name.title()}')

syed
Welcome to Our Gen Ai Team Syed
bukhari
Welcome to Our Gen Ai Team Bukhari
shah
Welcome to Our Gen Ai Team Shah
Ali
Welcome to Our Gen Ai Team Ali
safdar
Welcome to Our Gen Ai Team Safdar

In [5]:
from typing import Tuple
data_base: list[tuple[str,str]] = [
                                    ("safar","safdar234"),
                                    ("ali","@@888"),
                                    ("shah","@@123"),
                                    ("bukhari","@1234"),
                                    ("syed","12345"),
                                ]
for row in data_base:
    user, password = row
    print(user, password)

safar safdar234
ali @@888
shah @@123
bukhari @1234
syed 12345

In [6]:
from typing import Tuple
data_base: list[tuple[str,str]] = [
                                    ("safar","safdar234"),
                                    ("ali","@@888"),
                                    ("shah","@@123"),
                                    ("bukhari","@1234"),
                                    ("syed","12345"),
                                ]
input_user : str = input("enter your username")
input_password : str = input("enter your Password")
    
for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Login Successfull")
        break
else:
    print('User Not Found')

enter your usernamesafdar
enter your Passwordsars
User Not Found

from typing import Tuple
data_base: list[tuple[str,str]] = [
                                    ("safar","safdar234"),
                                    ("ali","@@888"),
                                    ("shah","@@123"),
                                    ("bukhari","@1234"),
                                    ("syed","12345"),
                                ]
input_user : str = input("enter your username")
input_password : str = input("enter your Password")
    
for row in data_base:
    user, password = row
    if input_user , input_password == user , password:
        print("Login Successfull")
        break

# Enumerates

In [7]:
magician = ['ali','shah','Alex','Tom','Jerry']
list(enumerate(magician))

[(0, 'ali'), (1, 'shah'), (2, 'Alex'), (3, 'Tom'), (4, 'Jerry')]

In [9]:
for index, name in enumerate(magician):
    print(index, name)

0 ali
1 shah
2 Alex
3 Tom
4 Jerry

In [10]:
x  = list(enumerate(magician))

In [11]:
print(x)

[(0, 'ali'), (1, 'shah'), (2, 'Alex'), (3, 'Tom'), (4, 'Jerry')]

In [12]:
x[0]

(0, 'ali')